{% extends "base.html" %}
{% block content %}
<style>
          .card{
              box-shadow: 0 16px 48px #E3E7EB;
               width: 380%;
               text-align: center;
               float:right;
          
              
          }
  
  </style>
  
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4 float-right ">
  <div class="card my-4">
          <h2 class="card-header">About Us</h2>
      <div class="card-body">
          <p class="card-text"> Join Us!</p>
          <a href="https://hdp-usa.com/"
             class="btn btn-danger">Know more!</a>
      </div>
  </div>
  </div>
     
{% endblock content %}
